<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<script>
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
		</script>
		<link rel="stylesheet" href="../../css/mui.css">
		<link rel="stylesheet" href="../../css/mui.picker.css" />
		<link rel="stylesheet" href="../../css/mui.poppicker.css" />
		<link rel="stylesheet" href="../../css/iconfont.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<style>
			body,
			.mui-content {
				background-color: #ffffff;
			}
			
			.mui-content {
				padding-left: 10px;
				padding-right: 30px;
			}
			
			header.mui-bar {
				display: none;
			}
		</style>
	</head>

	<body>
		<div class="mui-content" id="app">
			<div id="offCanvasWrapper">
				<div class="title">筛选</div>
				<div class="from">
					<!--<div>
						<p>专业部</p>
						<div id="showUserPicker" class="flex just-center" @tap="showMajorGroupPick">
							<span v-text="majorGroupPick.name"></span>
							<i class="mui-icon mui-icon-arrowdown" style="color: #8b8b8b;"></i>
						</div>
					</div>
					<div>
						<p>班级</p>
						<div class="flex just-center" @tap="showClassPick">
							<span v-text="classPick.name"></span>
							<i class="mui-icon mui-icon-arrowdown" style="color: #8b8b8b;"></i>
						</div>
					</div>-->
					<div>
						<p v-text="seleType == 1 ? '请假类型' : '考勤类型'">请假类型</p>
						<div class="flex just-center" @tap="showLeaveTypePick">
							<span v-text="leaveTypePick.name"></span>
							<i class="mui-icon mui-icon-arrowdown" style="color: #8b8b8b;"></i>
						</div>
					</div>
					<div>
						<p>状态</p>
						<div class="flex just-center" @tap="showStatePick">
							<span v-text="statePick.name"></span>
							<i class="mui-icon mui-icon-arrowdown" style="color: #8b8b8b;"></i>
						</div>
					</div>
				</div>
				<div class="btn">
					<button type="button" class="mui-btn bg-gray color-gray mg-r-10" @tap="clearPick">重置</button>
					<button type="button" class="mui-btn bg-gray main-color" @tap="filterStudent">确定</button>
				</div>
			</div>
		</div>
		 <script src="../../js/jquery-1.12.4.min.js"></script>
		<script src="../../js/vue.js"></script>
		<script src="../../js/mui.js"></script>
		<script src="../../js/mui.picker.js"></script>
		<script src="../../js/mui.poppicker.js"></script>
		<script src="../../js/api/req.js"></script>
		<script src="../../js/api/classes.js"></script>
		<script type="text/javascript" charset="utf-8">
			//关闭back、menu按键监听，这样侧滑主界面会自动获得back和memu的按键事件，仅在主界面处理按键逻辑即可；
			mui.init({
				keyEventBind: {
					backbutton: false,
					menubutton: false
				}
			});
			var main = null;
			var menuPage = function() {
				var _m = {};
				var self = _m;
				self.getWebviewOpener = function() {
					main = plus.webview.currentWebview().opener();
				};
				self.closeMenu = function() {
					mui.fire(main, "menu:swiperight");
				};
				self.addEvent = function() {
					window.addEventListener("swiperight", self.closeMenu);
				};
				self.init = function() {
					self.addEvent();
					self.getWebviewOpener();
				};
				return _m;
			}
			var vm = new Vue({
				el: '#app',
				data: {
					seleType: 1,
					typeList: [{
						value: '0',
						text: '其他'
					}, {
						value: '1',
						text: ' 事假'
					}, {
						value: '2',
						text: '病假'
					}, {
						value: '3',
						text: '活动'
					}],
					kqTypeList: [{
						value: '13',
						text: '正常'
					}, {
						value: '12',
						text: ' 请假'
					}, {
						value: '11',
						text: '早退'
					}],
					kqStateList: [{
						value: '0',
						text: '未知'
					}, {
						value: '1',
						text: '进校'
					}, {
						value: '2',
						text: '出校'
					}],
					stateList: [{
						value: '0',
						text: '待审批'
					}, {
						value: '1',
						text: '已审批'
					}, {
						value: '-1',
						text: '驳回'
					}],
					//					classList: [],
					//					majorGroupList: [],
					//					majorGroupPick: {
					//						name: '请选择',
					//						id: null
					//					},
					leaveTypePick: {
						name: '请选择',
						id: null
					},
					statePick: {
						name: '请选择',
						id: null
					},
					//					classPick: {
					//						name: '请选择',
					//						id: null
					//					}
				},
				//				watch: {
				//					'majorGroupPick.id' () {
				//						this.clearPickAll('classPick');
				//					},
				//				},
				mounted: function() {
					this.plusReady();
				},
				methods: {
					filterStudent: function() {
						mui.fire(main, "filter", {
							value: JSON.stringify({
								seleType: this.seleType,
								type: this.leaveTypePick.id,
								typeText:this.leaveTypePick.name,
								state: this.statePick.id,
							})
						});
					},
					clearPickAll: function(opt) {
						if(opt) {
							this[key].name = '请选择';
							this[key].id = null;
						} else {
							this.statePick.name = '请选择';
							this.statePick.id = null;
							this.leaveTypePick.name = '请选择';
							this.leaveTypePick.id = null;
						}
					},
					clearPick: function() {
						this.clearPickAll();
					},
					//					showMajorGroupPick: function() {
					//						var that = this;
					//						this.majorGroupPicker.show(function(items) {
					//							that.majorGroupPick.name = items[0].text;
					//							that.majorGroupPick.id = items[0].value;
					//						});
					//					},
					showLeaveTypePick: function() {
						var that = this;
						this.leaveTypePicker = new mui.PopPicker();
						if(this.seleType == 1) this.leaveTypePicker.setData(this.typeList);
						if(this.seleType == 2) this.leaveTypePicker.setData(this.kqTypeList);
						this.leaveTypePicker.show(function(items) {
							that.leaveTypePick.name = items[0].text;
							that.leaveTypePick.id = items[0].value;
						});
					},
					showStatePick: function() {
						var that = this;
						this.statePicker = new mui.PopPicker();
						if(this.seleType == 1) this.statePicker.setData(this.stateList);
						if(this.seleType == 2) this.statePicker.setData(this.kqStateList);
						this.statePicker.show(function(items) {
							that.statePick.name = items[0].text;
							that.statePick.id = items[0].value;
						});
					},
					//					getClassList: function(cb) {
					//						var that = this;
					//						getClassList({
					//							data: {
					//								major_group_id: this.majorGroupPick.id,
					//								size: 999
					//							},
					//							success: function(data) {
					//								that.classPicker = new mui.PopPicker();
					//								var arr = [];
					//								//mui 下拉框必须要写个value text 醉了 生成value text数组
					//								data.data.list.forEach(function(item) {
					//									arr.push({
					//										value: item.id,
					//										text: item.name
					//									})
					//								})
					//								that.classPicker.setData(arr);
					//								cb();
					//							}
					//						})
					//					},
					//					getMarjorGroupList: function() {
					//						var that = this;
					//						getMajorGroup({
					//							data: {},
					//							success: function(data) {
					//								that.majorGroupPicker = new mui.PopPicker();
					//								var arr = [];
					//								//mui 下拉框必须要写个value text 醉了 生成value text数组
					//								data.data.forEach(function(item) {
					//									arr.push({
					//										value: item.id,
					//										text: item.name
					//									})
					//								})
					//								that.majorGroupPicker.setData(arr);
					//							}
					//						})
					//					},
					//					getMarjorList: function(cb) {
					//						var that = this;
					//						getMajorForGroup({
					//							data: {
					//								size: 999,
					//								groupid: this.majorGroupPick.id,
					//							},
					//							success: function(data) {
					//								cb(data);
					//							}
					//						})
					//					},
					//					showClassPick: function() {
					//						if(this.majorGroupPick.id) {
					//							var that = this;
					//							this.getClassList(function() {
					//								that.classPicker.show(function(item) {
					//									that.classPick.name = item[0].text;
					//									that.classPick.id = item[0].value;
					//								})
					//							});
					//						} else {
					//							mui.toast('请选择专业部，在选择班级!');
					//							return;
					//						}
					//					},
					plusReady: function() {
						var that = this;
						mui.plusReady(function() {
							menuPage().init();
							//							that.getMarjorGroupList();
						})
					}
				}
			})
			window.addEventListener('seleTypeEdit', function(e) {
				vm.seleType = e.detail.seleType;
			})
		</script>
	</body>

</html>