<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/material-icons.css" />
		<script>
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
		</script>
	</head>
	<style type="text/css">
		.mui-table-view-radio .mui-table-view-cell {
			padding: 0.26rem 0.3rem;
		}
		
		.mui-table-view-radio .mui-table-view-cell>a:not(.mui-btn) {
			margin-right: -0.22rem;
		}
		
		.mui-table-view-radio .mui-table-view-cell .mui-navigate-right:after {
			left: -4rem;
		}
		
		.mui-selected {
			background: #F3F5F8;
		}
		
		.mui-scroll-wrapper {
			bottom: 1rem;
		}
		
		.btn {
			width: 100%;
			position: fixed;
			bottom: 0;
			left: 0;
			z-index: 2;
			padding: 10px 0.3rem;
			
		}
		
		.btn>button {
			margin: 0 auto!important;
		}
	</style>

	<body>
		<header class="mui-bar mui-bar-nav bg-white">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		</header>
		<div id="app">
			<div class="top-title"style="top:44px">
			    <div class="mui-content-padded">
				     <div class="web-title" >
					       <h3 class="active mg-r-10" style="font-size: 36px;margin-left: 5px;">班内打分项</h3>
				     </div>				     
			    </div>
            </div>
			<div id="refreshContainer" class="mui-content mui-scroll-wrapper" style="margin-bottom: 5px;">
				<div class="mui-scroll">
					<ul class="mui-table-view" style="margin-top: 2.5rem;padding-left: 0.5rem;padding-right: 0.5rem;">
						<li class="mui-table-view-cell tc flex flex-y-center just-center" v-for="item in list" @tap="chooseAndBack(item)" style="border-bottom:1px solid #F3F5F8;text-align: left;padding:0.35rem 0;">	
							<p v-text="item.name" class="FontSize17color"></p>
							<i class="material-icons"  style="font-size: 20px;color: #2196F3;" v-if="indexSele == item">done</i>
						</li>
					</ul>
				</div>
			</div>
		</div>
		 <script src="../../js/jquery-1.12.4.min.js"></script>
		<script src="../../js/mui.js"></script>
		<script src="../../js/vue.js"></script>
		<script src="../../js/api/req.js"></script>
		<script src="../../js/api/student.js"></script>
		<script type="text/javascript">
			new Vue({
				el: '#app',
				data: {
					list: [],
					indexSele: null,
					count: null,
					page: 0,
					searchText: ''
				},
				mounted: function() {
					this.pullInit();
					this.plsuReady();
				},
				methods: {
					search: function() {
						this.getList({
							keyword: this.searchText
						});
					},
					pullInit: function() {
						mui.init({
							pullRefresh: {
								container: "#refreshContainer", //下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
								up: {
									height: 50, //可选.默认50.触发上拉加载拖动距离
									contentrefresh: "正在加载...", //可选，正在加载状态时，上拉加载控件上显示的标题内容
									contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
									callback: this.pullUpRefresh //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
								}
							}
						});
					},
					pullUpRefresh: function() {
						this.getList();
					},
					plsuReady: function() {
						var that = this;
						mui.plusReady(function() {
							that.getList();
						})
					},
					//直接选择打分项跳转页面
					chooseAndBack:function(item){
						this.indexSele=item;
						var cid = plus.webview.currentWebview().opener();
							mui.fire(cid, 'seleScoreObjForClasses', {
								"seleScoreObj": JSON.stringify(this.indexSele)
							});
							mui.back();	
					},
					getList: function(opt) {
						var that = this;
						var parmas = {};
						getScoreProjectForClasses({
							data: parmas,
							success: function(data) {
								that.page += 1;
								for(var i = 0; i < data.data.length; i++) {
									that.list.push(data.data[i]);
								}
								that.count = data.data.length;
								if(that.count == that.list.length) {
									mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
								} else {
									mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
								}
							}
						})
					}
				}
			})
		</script>
	</body>
</html>