<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/iconfont.css" />
		<link rel="stylesheet" href="../../css/mui.picker.css" />
		<link rel="stylesheet" href="../../css/mui.poppicker.css" />
		<script>
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
		</script>
	</head>
	<style type="text/css">
		body,
		html,
		#app,
		.mui-content {
			height: 100%;
		}
		
		.mui-content .list {
			padding-bottom: 10px;
			color: #2D2F38;
			border-bottom: 1px solid #eeeeee;
		}
		
		.mui-content .list p {
			color: #9c9c9c;
		}
		
		.mui-content .list .type {
			margin-top: 0.4rem;
		}
		
		.mui-content .list .type p {
			margin-bottom: 0.25rem;
			/*font-size: 12px;*/
		}
		
		#offCanvasWrapper aside .mui-scroll-wrapper {
			height: 100%;
		}
		.mui-bar-nav~.mui-content {
			padding-bottom:100px;
			padding-top: 20px;
		}
		.yidu-btn {
			position: fixed;
			bottom: 0;
			left: 5%;
			z-index: 3;
			width: 90%;
			margin: 0;
			height: 100px;
		}
	</style>

	<body>
		<div id="app">
			<div class="mui-off-canvas-wrap  mui-slide-in" id="offCanvasWrapper">
				<aside class="mui-off-canvas-right">
					<div class="mui-scroll-wrapper">
						<div class="mui-scroll bg-white">
							<!--aside-cont-->
							<p class="title">筛选</p>
							<div class="from">
								<div>
									<p>类型</p>
									<div class="flex just-center" @tap="filterType">
										<span v-text="filterPick.name"></span>
										<i class="mui-icon mui-icon-arrowdown"></i>
									</div>
								</div>
							</div>
							<div class="btn">
								<button @tap="clearFilter" type="button" class="mui-btn bg-gray color-gray mg-r-10">重置</button>
								<button @tap="filterMessage" type="button" class="mui-btn bg-gray main-color" id="filter">确定</button>
							</div>
						</div>
					</div>
				</aside>
				<div class="mui-inner-wrap">
					<header class="mui-bar mui-bar-nav bg-white">
						<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
					     <i class="mui-pull-right main-color font-size-small" style="font-style: normal;padding-top: 10px;color: #2196F3;font-size: 14px!important;" @tap="allMessageYidu">一键已读</i>
					</header>
					 <div style="width:100%;padding: 60px 0.38rem 10px;z-index:3;position: absolute;background:#ffffff;box-sizing: border-box;">
						<h3 style="color: #101010;font-size: 32px;">消息中心</h3>
						<p :style="{color:colors}" v-text="messageContent"></p>
					</div>
					<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
						<div class="mui-scroll">
							<div class="mui-content-padded" style="padding-top: 2rem;">
								<div class="list" v-for="item in messageList" @tap="showDetail(item)" >
									<div class="type cont flex flex-y-top just-top" style="position: relative;">
										<div class="flex-1">
											<p v-text="getApplyName(item)" style="color: #101010;font-size: 17px;font-weight: bold;"></p>
											<p v-text="outline(item)"></p>
										     <p v-text="getYmd(item.create_time)" style="display: inline-block;margin-right: 10px;"></p> 
										     <p v-text="getType(item.type)" style="display: inline-block;"></p>
										</div>
										<!--<p style="width: 0.5rem;background: red;" v-text="getLeaveState(item)"></p>-->
										<p v-html="getItemState(item)" style="position: absolute;top:0;right: 0;"></p>
									</div>
								</div>
							</div>
							<p class="NoData" v-if="messageList.length==0" v-text="NoData"></p>
						</div>
						
					</div>
					
				</div>
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop" @tap="hideAsd"></div>
			</div>
		</div>
         <script src="../../js/jquery-1.12.4.min.js"></script>
		<script src="../../js/mui.js"></script>
		<script src="../../js/vue.js"></script>
		<script src="../../js/api/req.js"></script>
		<script src="../../js/user/role.js"></script>
		<script src="../../js/api/message.js"></script>
		<script src="../../js/mui.picker.js"></script>
		<script src="../../js/mui.poppicker.js"></script>
		<script src="../../js/api/user.js"></script>
		<script type="text/javascript">
			function buqi(str) {
				return str < 10 ? '0' + str : str;
			}
			new Vue({
				el: '#app',
				mixins: [userRole],
				data: {
					messageContent:"",
					messageLen:0,
					colors:"#8b8b8b",
					typeList: [{
						value: 0,
						text: '打分'
					}, {
						value: 1,
						text: '请假'
					}],
					filterPick: {
						id: '',
						name: '请选择'
					},
					page: 0,
					count: 0,
					messageList: []
				},
				methods: {
					clearFilter: function() {
						this.filterPick.name = '请选择';
						this.filterPick.id = '';
					},
					hideAsd: function() {
						offCanvasWrapper.offCanvas('close');
					},
					aside: function() {
						offCanvasWrapper = mui('#offCanvasWrapper')
						document.getElementById('ce-slide').addEventListener('tap', function() {
							offCanvasWrapper.offCanvas('show').isShown('right');
						});
					},
					filterMessage: function() {
						this.hideAsd();
						this.getMessage({
							type: this.filterPick.id
						});
					},
					outline:function(item){
						var Jsons = JSON.parse(item.json);
						if(item.type==4){
							  var a=Jsons.project_name+"（"+Jsons.rule_name+Jsons.value+"）"
						}else{
							 var a=item.outline;
						}
						return a;
					},
					//获取消息
					getMessage: function(opt) {
						var that = this;
						var parmas = {};
						if(opt) {
							if(opt.type) parmas.type = opt.type;
							this.messageList = [];
							this.page = 0;
							mui('#refreshContainer').pullRefresh().refresh(true);
						}
						parmas.page = this.page;
						parmas.size = 10;
						if(this.page==0){
							plus.nativeUI.showWaiting( "加载中..." )
						}
						getMessage({
							data: parmas,
							success: function(data) {
								if(data.data.list.length==0&&that.messageList.length==0){
									that.NoData='暂无';
									 mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
								}else{
									that.NoData='';
									that.count = data.data.count;
								   that.page += 1;
								for(var i = 0; i < data.data.list.length; i++) {
									that.messageList.push(data.data.list[i]);
								}
							
								if(that.count == that.messageList.length) {
									mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
								} else {
									mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
								}
								}
								
							}
						})
					},
					//获取消息类别
					getType:function(type){
						  var typeList={
                                  "0":"打分",
                                  "1":"请假",
                                  "2":"值班",
                                  "3":"签到",
                                  "4":"班级打分"
                                  }
						  return typeList[type]
						
					},
					//获取请假姓名的处理
					getApplyName: function(item) {
//						var Jsons = JSON.parse(item.json);
						 if(item.json.indexOf('↵')!=-1){
                               var Jsons = JSON.parse(item.json);
                            }else {
                                var Jsons = JSON.parse(item.json.split('\n'))
                            }
						if(item.type == 1){
							var apply_accounts=Jsons.apply_accounts;
						    if(apply_accounts.length>1){
						    	var a = apply_accounts[0].accountData.rname+'  等'+apply_accounts.length+'人'
						    }else{
						    	var a = apply_accounts[0].accountData.rname;
						    }
						}
						if(item.type == 0){
							var a=Jsons.operation_account_rname
						}
					    if(item.type ==2||item.type==3){
                                var classgrades = Jsons.teacher.rname;
                                var a = classgrades;
                          }
					    if(item.type ==4){
                                var Jsons = JSON.parse(item.json);
                                var a = Jsons.operation_account_rname;
                          }
                         return a;
						
						
//						return(JSON.parse(item.json).apply_accounts.map(function(item) {
//							return item.accountData.rname;
//						})).join();
					},
					//获取未读消息的条数
					getUserInfo: function() {
						var that = this;
						getUserInfo({
							data: {},
							success: function(data) {
								that.messageLen = data.data.messageCount;
								if(data.data.messageCount>0){
									that.colors ="#ff4747" ;
									that.messageContent="您有"+that.messageLen+"条未读消息"
								}else{
									that.colors ="#8b8b8b" ;
									that.messageContent="您有0条未读消息"
								}
								
							}
						})
						
					},
					//解决接口中的特殊字符
					getDes: function(item) {
						   if(item.json.indexOf('↵')!=-1){
                               var Jsons = JSON.parse(item.json);
                            }else {
                                var Jsons = JSON.parse(item.json.split('\n'))
                            }
//						return JSON.parse(item.json).des;
                        return Jsons.des;
					},
					//判断消息是否已读
					getItemState: function(item) {
						if(item.state == 1) return '<span style="color:#9c9c9c">已读</span>';
						if(item.state == 0) return '<span style="color:#ff4747">未读</span>';
					},
					//处理一个特殊字符
					getLeaveState: function(item) {
						 if(item.json.indexOf('↵')!=-1){
                               var Jsons = JSON.parse(item.json);
                            }else {
                                var Jsons = JSON.parse(item.json.split('\n'))
                            }
						var state = Jsons.state;
						if(state == 0) return '待审批';
						if(state == 1) return '已同意';
						if(state == -1) return '已驳回';
					},
					//一键已读
					allMessageYidu: function() {
						var that = this;
						messageAllSetStatus({
							data: {},
							success: function(data) {
								mui.toast('消息全部已读成功',{ duration:'short', type:'div' });
								that.getUserInfo();
								that.messageList.map(function(item){
								    item.state = 1;	
								})
							}
						})
					},
					//标记消息已读
					messageYidu: function(ids,cb) {
						messageSetStatus({
							data: {
								message_ids: ids
							},
							success: function() {
								cb();
							}
						})
					},
					//点击查看消息详情
					showDetail: function(item) {
						var that = this;
						 //评分情况
						 if(item.type == 0){
						 	if(item.state == 0) {
								this.messageYidu(item.id,function() {
									item.state = 1;
									that.showScoreDetail(item);
								});
								this.getUserInfo();
							} else {
								that.showScoreDetail(item);
							}
						 }
						 //请假
						 if(item.type == 1) {
							if(item.state == 0) {
								this.messageYidu(item.id,function() {
									item.state = 1;
									that.showLeaveDetail(item);
								});
								this.getUserInfo();
							} else {
								that.showLeaveDetail(item);
							}
						}
						//值班
						 if(item.type == 2) {
							if(item.state == 0) {
								this.messageYidu(item.id,function() {
									item.state = 1;
									that.showDutyDetail(item);
								});
								this.getUserInfo();
							} else {
								that.showDutyDetail(item);
							}
						}
						//签到
						 if(item.type == 3) {
							if(item.state == 0) {
								this.messageYidu(item.id,function() {
									item.state = 1;
									that.showDutyDetail(item);
								});
								this.getUserInfo();
							} else {
								that.showDutyDetail(item);
							}
						}
					 
						//班级打分
						 if(item.type == 4) {
						 	if(item.state == 0) {
						 		this.messageYidu(item.id,function() {
									item.state = 1;
								});
								this.getUserInfo();
						 	}
						 }
						 
					},
					//查看请假消息详情
					showLeaveDetail: function(item) {
						plus.storage.setItem('leaveDetail', item.json);
						mui.openWindow({
							url: '../leave/check.html',
							id: 'leaveCheck'
						})
					},
					//查看值班消息详情
					showDutyDetail: function(item) {
						plus.storage.setItem('dutyDetail', item.json);
						mui.openWindow({
							url: 'dutyMessage.html',
							id: 'dutyMessage'
						})
					},
					//查看学生打分消息详情
					showScoreDetail: function(item) {
//						plus.storage.setItem('dutyDetail', item.json);
						mui.openWindow({
							url: '../student/student-history.html',
							id: 'student-history'
						})
					},
					//处理消息时间
					getYmd: function(time) {
						var date = new Date(parseInt(time));
						return date.getFullYear() + '/' + buqi((date.getMonth() + 1)) + '/' + buqi(date.getDate()) + ' ' + buqi(date.getHours()) + ':' + buqi(date.getMinutes());
					},
					//上拉加载
					pullUpRefresh: function() {
						mui('#refreshContainer').pullRefresh().enablePullupToRefresh(false);
						this.getMessage();
					},
					//下拉刷新
					pullDownRefresh:function(){
						var that = this;
						var parmas = {};						
						parmas.page = 0;
						parmas.size = 10;
						getMessage({
							data: parmas,
							success: function(data) {
								mui('#refreshContainer').pullRefresh().endPulldown();
								that.messageList=[];
								if(data.data.list.length==0){
									that.NoData='暂无';
									mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
								}else{
									that.page = 0;
									that.NoData='';
									mui('#refreshContainer').pullRefresh().refresh(true);								
								    that.count = data.data.count;
								    that.page += 1;
								    for(var i = 0; i < data.data.list.length; i++) {
									    that.messageList.push(data.data.list[i]);
								     }	
								}							
							},error:function(){
								that.NoData='暂无'
								mui('#refreshContainer').pullRefresh().endPulldown();
							}
						})    
					},
					plusReady: function() {
						var that = this;
						mui.plusReady(function() {
							that.back();
							//mui('#refreshContainer').scroll();
						})
					},
					back: function() {
						mui.init({
							pullRefresh: {
								container: "#refreshContainer", //下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
								up: {
									height: 50, //可选.默认50.触发上拉加载拖动距离
									contentrefresh: "正在加载...", //可选，正在加载状态时，上拉加载控件上显示的标题内容
									contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
									callback: this.pullUpRefresh //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
								},
								down: {
								style: 'circle', //必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
								color: '#2196f3', //可选，默认“#2BD009” 下拉刷新控件颜色
								height: '50px', //可选,默认50px.下拉刷新控件的高度,
								range: '100px', //可选 默认100px,控件可下拉拖拽的范围
								offset: '140px', //可选 默认0px,下拉刷新控件的起始位置
								auto: false, //可选,默认false.首次加载自动上拉刷新一次
								callback:this.pullDownRefresh									
								//必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
							   }
							},
							beforeback: function() {
								//获得列表界面的webview
								var list = plus.webview.currentWebview().opener();
								mui.fire(list, 'tabPageShow');
								//返回true，继续页面关闭逻辑
								return true;
							}
							
						});
						this.getMessage();
					    this.getUserInfo();
					},
					filterType: function() {
						var that = this;
						this.filterPicker = new mui.PopPicker();
						this.filterPicker.setData(this.typeList);
						this.filterPicker.show(function(items) {
							that.filterPick.name = items[0].text;
							that.filterPick.id = items[0].value + '';
						});
					}
				},
				mounted: function() {
					this.plusReady();
					this.aside();
				}
			})
			window.addEventListener('loadpage', function() {
				vm.getMessage();
				vm.getUserInfo();
			})
		</script>
	</body>

</html>