<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/mui.picker.css" />
		<link rel="stylesheet" href="../../css/mui.poppicker.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/iconfont.css" />
		<link rel="stylesheet" href="../../css/material-icons.css" />
		<script>
			document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
		</script>
	</head>
	<style>
		.mui-content-padded {
			margin: 0.4rem;
		}
		.student-photo {
			width: 0.62rem;
			height: 0.62rem;
			border-radius: 50%;
			background: #eeeeee;
			border: 1px solid #eeeeee;
		}
		
		.mui-table-view:after {
			height: 0;
		}
		.set-score {
			position: fixed;
			bottom: 0.6rem;
			right: 10px;
			width: 60px;
			height: 60px;
			border-radius: 100px;
			line-height: 60px;
			box-shadow: 2px 2px 7px -2px #2196F3;
			z-index: 3;
		}
		
		.mui-table-view-chevron {
			padding: 0 0.33rem;
		}
		
		.mui-table-view-chevron>div {
			border-bottom: 1px solid #F3F5F8;
			padding: 0.28rem 0;
		}
	</style>

	<body>
		<div id="app" class="mui-content">
			<div class="top-title">
				<div class="mui-content-padded">
					<!--<div class="tr" id="shaixuan">
						<i class="mui-icon iconfont icon-shaixuan main-color font-size-big-plus"></i>
					</div>-->
					<div class="tr" style="position: relative;height: 30px;">
						 <i class="material-icons" style="margin-right: 0.63rem;font-size: 19px;color: #101010;position: absolute;right: 40px;" @tap="showView('batchscore.html')" v-if="role && !checkRole('4,8,12')">border_color</i>
						<!--<i class="material-icons" style="margin-right: 0.63rem;font-size: 32px;color: #444444;position: absolute;right: 30px;top:-0.1rem" @tap="showView('deleteScoreHistoryForclasses.html')" v-if="role && checkRole('3,4,8,12')">list</i>-->
						<!--<i class="material-icons" id="shaixuan" style="font-size: 30px;color: #101010;position: absolute;right:0;top:-6px;">more_horiz</i>-->
						<i class="material-icons" id="MajorGropBtn" style="font-size: 30px;color: #101010;position: absolute;right:0;top:-6px;" @tap="showMajorGroupPick">more_horiz</i>
					</div>
					<div class="web-title">
						<span class="active mg-r-10" style="color: #101010;font-size: 36px!important;">班级列表</span>
					</div>
					<div class="search-input-box flex flex-y-center" style="box-shadow:1px 0px 9px #e4e2e2;height: 45px;">
						<i class="material-icons icon-greey" style="margin-left: 10px;font-size: 18px;">search</i>
						<form class="flex-1 flex flex-y-center" action="#" onsubmit="return false;">
							<input v-model="searchText" id="search-input" @keyup.13="search" type="search" class="mui-input-clear " placeholder="搜索" @focus="setMenu(1)" @blur="setMenu(2)">
							<i @tap="searchText = ''" v-show="searchText != ''" class="material-icons icon-greey" style="font-size: 20px;margin-right: 0.3rem;">cancel</i>
						</form>
					</div>
				</div>
			</div>
			<div id="refreshContainer" class="mui-content mui-scroll-wrapper">
				<div class="mui-scroll">
					<div>
						<!--数据列表-->
						<div class="mui-table-view mui-table-view-chevron" style="margin-top: 3.2rem;padding:0.3rem 0.55rem;">
							<div v-for="item in classList" class="flex flex-y-center just-center" @tap="showDetails(item)" style="padding: 0.4rem 0;">
								<div class="flex flex-y-center">
									<span v-text="item.name" class="" style="color: #101010;"></span>
								</div>
								<div>
									<!--<span v-text="item.value + 200" class="color-gray">750</span>-->
									<!--<span class="color-gray">200</span>-->
								</div>
							</div>
							<p class="NoData" v-if="classList.length==0" v-text="NoData"></p>
						</div>
					</div>
				</div>
			</div>
			<!--<div class="set-score main-bg-color tc" @tap="showView('batchscore.html')" v-if="role && checkRole('3,4,5')">
				<i class="mui-icon iconfont icon-bianji color-white"></i>
			</div>-->
		</div>
		 <script src="../../js/jquery-1.12.4.min.js"></script>
		<script src="../../js/mui.js"></script>
		<script src="../../js/vue.js"></script>
		<script src="https://g1.jyblc.cn/pic/jyb_1111/vue-lazyload-1.js"></script>
		<script src="../../js/mui.picker.js"></script>
		<script src="../../js/mui.poppicker.js"></script>
		<script src="../../js/api/req.js"></script>
		<script src="../../js/user/role.js"></script>
		<script src="../../js/api/classes.js"></script>
		<script type="text/javascript">
//			var stuentPage = function() {
//				var _m = {};
//				var self = _m;
//				var main = plus.webview.currentWebview();
//				var menu;
//				var mask;
//				var showMenu = false;
//				self.showCelan = function() {
//					document.getElementById("shaixuan").addEventListener("tap", function() {
//						self.openMenu();
//					});
//				};
//				self.closeMenu = function() {
//					//窗体移动
//					self._closeMenu();
//					//关闭遮罩
//					mask.close();
//				};
//				self._closeMenu = function() {
//					if(showMenu) {
//						//解决android 4.4以下版本webview移动时，导致fixed定位元素错乱的bug;
//						if(mui.os.android && parseFloat(mui.os.version) < 4.4) {
//							document.querySelector("header.mui-bar").style.position = "fixed";
//							//同时需要修改以下.mui-contnt的padding-top，否则会多出空白；
//							document.querySelector(".mui-bar-nav~.mui-content").style.paddingTop = "44px";
//						}
//						main.setStyle({
//							left: '0',
//							transition: {
//								duration: 1500
//							}
//						});
//						//menu页面同时移动
//						menu.setStyle({
//							left: '100%',
//							transition: {
//								duration: 150
//							}
//						});
//						//等窗体动画结束后，隐藏菜单webview，节省资源；
//						setTimeout(function() {
//							menu.hide();
//						}, 300);
//						showMenu = false;
//					}
//				};
//				self.openMenu = function() {
//					if(!showMenu) {
//						//解决android 4.4以下版本webview移动时，导致fixed定位元素错乱的bug;
//						if(mui.os.android && parseFloat(mui.os.version) < 4.4) {
//							document.querySelector("header.mui-bar").style.position = "static";
//							//同时需要修改以下.mui-contnt的padding-top，否则会多出空白；
//							document.querySelector(".mui-bar-nav~.mui-content").style.paddingTop = "0px";
//						}
//
//						//侧滑菜单处于隐藏状态，则立即显示出来；
//						//显示完毕后，根据不同动画效果移动窗体；
//						menu.show('none', 0, function() {
//							main.setStyle({
//								left: '-70%',
//								transition: {
//									duration: 1500
//								}
//							});
//							menu.setStyle({
//								left: '30%',
//								transition: {
//									duration: 150
//								}
//							});
//						});
//						//显示主窗体遮罩
//						mask.show();
//						showMenu = true;
//					}
//				}
//				self.getCelanWebview = function() {
//					setTimeout(function() {
//						menu = mui.preload({
//							id: 'class-offcanvas-drag-left-plus-menu.html',
//							url: 'offcanvas-drag-left-plus-menu.html',
//							styles: {
//								left: "30%",
//								width: '70%',
//								zindex: 9997
//							}
//						});
//					}, 300);
//				};
//				self.meuiSet = function() {
//					//重写mui.menu方法，Android版本menu按键按下可自动打开、关闭侧滑菜单；
//					mui.menu = function() {
//						if(showMenu) {
//							self.closeMenu();
//						} else {
//							self.openMenu();
//						}
//					}
//				};
//				self.watchMenu = function() {
//					window.addEventListener("filter", function(event) {
//						var opt = JSON.parse(event.detail.value);
//						if(opt.majorId == null) vm.majorId = null; 
//						if(opt.majorGroupId == null) vm.majorGroupId = null; 
//						if(opt.pingbiId == null) vm.pingbiId = null; 
//						vm.getClassList({
//							majorId: opt.majorId,
//							majorGroupId: opt.majorGroupId,
//							pingbiId: opt.pingbiId
//						})
//						self.closeMenu();
//					});
//				};
//				self.init = function() {
//					mask = mui.createMask(self._closeMenu);
//					self.getCelanWebview();
//					self.showCelan();
//					self.meuiSet();
//					self.watchMenu();
//				};
//				return _m;
//			}

			Vue.use(VueLazyload, {
				preLoad: 1.3,
				error: 'https://g1.jyblc.cn/pic/huangjin/baoya_lay.jpg',
				loading: 'https://g1.jyblc.cn/pic/huangjin/baoya_lay.jpg',
				attempt: 1
			});

			var vm = new Vue({
				el: '#app',
				mixins: [userRole],
				data: {
					classList: [],
					searchText: '',
					page: 0,
					count: 0,
					majorId: '',
					majorGroupId:'',
					pingbiId: '',
					majorGroupPick: {
						name: '请选择',
						id: null
					},
					majorGroupPicker:null
				},
				mounted: function() {
					var that = this;
					mui.plusReady(function() {
						that.role = getUserRole();
//						stuentPage().init();
						that.getClassList();
						that.getMarjorGroupList();
						 document.querySelector('body').addEventListener('touchstart', function(e) {
                               if(e.target.className != 'input') {
                                    document.getElementById('search-input').blur();
                                 }
                         });
					});
					
					mui.init({
						preloadPages: [{
							url: 'classdetail.html',
							id: 'classdetail',
							styles: {
								top: '0', //子页面顶部位置
								bottom: 0, //子页面底部位置
							},
						}],
						pullRefresh: {
							container: "#refreshContainer", //下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
							up: {
								height: 50, //可选.默认50.触发上拉加载拖动距离
								contentrefresh: "正在加载...", //可选，正在加载状态时，上拉加载控件上显示的标题内容
								contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
								callback: this.pullUpRefresh //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
							   },
							down: {
								style: 'circle', //必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
								color: '#2196f3', //可选，默认“#2BD009” 下拉刷新控件颜色
								height: '50px', //可选,默认50px.下拉刷新控件的高度,
								range: '100px', //可选 默认100px,控件可下拉拖拽的范围
								offset: '180px', //可选 默认0px,下拉刷新控件的起始位置
								auto: false, //可选,默认false.首次加载自动上拉刷新一次
								callback:this.pullDownRefresh									
								//必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
							}
							
						}
					});
				},
				methods: {
					getMarjorGroupList: function() {
						console.log('+++++++++++++++++++++++++++++++++++++++班级++++++++++++++++++++++++++++++++++++++')
						var that = this;
						getMajorGroup({
							data: {},
							success: function(data) {
								that.majorGroupPicker = new mui.PopPicker();
								var arr = [{value:'',text:'全部'}];
								//mui 下拉框必须要写个value text 醉了 生成value text数组
								data.data.forEach(function(item) {
									arr.push({
										value: item.id,
										text: item.name
									})
								})
								that.majorGroupPicker.setData(arr);
							}
						})
					},
					showMajorGroupPick: function() {
						var that = this;
						this.majorGroupPicker.show(function(items) {
							that.majorGroupPick.name = items[0].text;
							that.majorGroupPick.id = items[0].value;
							plus.nativeUI.showWaiting( "加载中..." )
							if(items[0].value){
								that.getClassList({
								majorGroupId: that.majorGroupPick.id
							   })
							}else{
								that.getClassList({});
							}
							
						});
					},
					//搜索
					search: function() {
						document.getElementById('search-input').blur();
						plus.nativeUI.showWaiting( "加载中..." )
						this.getClassList({
							keyword: this.searchText
						})
					},
					//跳转页面
					showView: function(path) {
						mui.openWindow({
							url: path,
							id: path
						})
					},
					//获取班级列表
					getClassList: function(opt) {
						var parmas = {};
						if(opt) {
							if(opt.majorId ) this.majorId = opt.majorId;
							if(opt.majorGroupId ) this.majorGroupId = opt.majorGroupId	
							if(opt.pingbiId ) this.pingbiId = opt.pingbiId;
							this.classList = [];
							this.page = 0;
							mui('#refreshContainer').pullRefresh().refresh(true);
						}
						if(this.searchText != null && this.searchText != '') parmas.keyword = this.searchText;
						if(this.majorId) parmas.major_id = this.majorId;
						if(this.majorGroupId) parmas.major_group_id = this.majorGroupId;
						if(this.pingbiId) parmas.pingbiId = this.pingbiId;
						parmas.page = this.page;
						parmas.size = 10;
						//最后判断一次如果page=0;数据必须清空
						if(this.page==0){this.classList = [];
						 
							plus.nativeUI.showWaiting( "加载中..." )
						
						}
						
						var that = this;
						getClassList({
							data: parmas,
							success: function(data) {
								//当班级数据为0的时候显示暂无并且禁止上拉加载
								if(data.data.list.length==0&&that.classList.length==0){
									that.NoData='暂无'
									that.classList=[]; 
								    mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
								}else{
									for(var i = 0; i < data.data.list.length; i++) {
									   that.classList.push(data.data.list[i]);
								     }
								     that.count = data.data.count;
								     that.page += 1;
								     if(that.count == that.classList.length) {
									       mui('#refreshContainer').pullRefresh().endPullupToRefresh(true);
								      } else {
									       mui('#refreshContainer').pullRefresh().endPullupToRefresh(false);
								      }
								}
								
							},
							error:function(){
								that.NoData='暂无'
								mui('#refreshContainer').pullRefresh().endPullupToRefresh();
							}
						})
					},
					//上拉加载
					pullUpRefresh: function() {
						var that = this;
						mui('#refreshContainer').pullRefresh().enablePullupToRefresh(false);
						this.getClassList();
					},
					pullDownRefresh:function(){
					    var parmas = {};
					    if(this.searchText != null && this.searchText != '') parmas.keyword = this.searchText;
						if(this.majorId) parmas.major_id = this.majorId;
						if(this.majorGroupId) parmas.major_group_id = this.majorGroupId;
						if(this.pingbiId) parmas.pingbiId = this.pingbiId;
						parmas.page = 0;
						parmas.size = 10;
						var that = this;
						plus.nativeUI.showWaiting( "加载中..." )
						getClassList({
							data: parmas,
							success: function(data) {
								mui('#refreshContainer').pullRefresh().endPulldown();
								that.classList=[];
								if(data.data.list.length==0){
									that.NoData='暂无'	
								    mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
								}else{
									that.NoData='';
									mui('#refreshContainer').pullRefresh().refresh(true);
								    
								for(var i = 0; i < data.data.list.length; i++) {
									that.classList.push(data.data.list[i]);
								}
								that.page = 0;
								that.count = data.data.count;
								that.page += 1;
								}
								
								
							},
							error:function(){
								that.NoData='暂无'
								mui('#refreshContainer').pullRefresh().endPulldown();
								mui('#refreshContainer').pullRefresh().disablePullupToRefresh();
							}
						})
					},
					//详情页面的跳转
					showDetails: function(item) {
						plus.storage.setItem('classDetail', JSON.stringify(item));
						var detail = plus.webview.getWebviewById("classdetail");
						if(detail) {
							mui.fire(detail, 'detailsData');
						}
						mui.openWindow({
							url: 'classdetail.html',
							id: 'classdetail',
							popGesture: "none",
							waiting: {
								autoShow: true, //自动显示等待框，默认为true
								title: '正在加载...', //等待对话框上显示的提示内容
							}
						});
					},
				}
			})
			
			window.addEventListener('tabPageShow',function(){
				document.documentElement.style.fontSize = document.documentElement.clientWidth / 7.5 + 'px';
				if(vm.classList.length==0){
//					vm.getClassList({});
				}
				
			})
		</script>
	</body>
</html>